@import "styles/colors.scss";

.tableBody {
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.tableBody th {
  display: flex;
  align-items: center;
}

.itemInformationBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.installation {
  border-top: 1px solid $gray4;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.installationTitle {
  font-weight: 100;
}

.tableBodyName {
  min-width: 220px;
}

.imageBox {
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: 24px;
}

.checkbox {
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translate(-50%, -50%);
}

.itemTitleBox {
  margin-left: 10px;
}

.itemTitle {
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: $blue1;
  }
}

.itemManufacturer {
  font-weight: 100;
  margin-top: 10px;
}

.warningMsg {
  width: 100%;
  text-align: center;
  margin: 50px 0px 50px;
  font-weight: 100;
}

@media (max-width: 900px) {
  .itemTitleBox {
    max-width: 240px;
  }
}
