@import '~styles/colors.scss';

.mainContainer {
  width: 270px;
  margin-bottom: 20px;
  min-height: 36px;
  height: 100%;
  margin-right: 30px;

  border: 1px solid $transparentBlue1;
}

.title {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-right: 16px;
  font-weight: 700;
  padding-left: 18px;
}

.category {
  display: flex;
  align-items: center;
  padding: 5px 0;
  padding-left: 10px;
  position: relative;

  &:nth-last-child(2) {
    background-color: $transparentBlue2;
  }
  &:hover {
    background-color: $transparentBlue5;
  }
}
.categoryText {
  color: $blue6;

  margin-left: 20px;
  font-size: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-right: 7px;

  word-wrap: break-word;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.arrow {
  font-size: 14px;
  position: absolute;
}
