@import "styles/colors.scss";
@import "styles/breakpoints.scss";
@import "~styles/constants.scss";

.wrapper {
  opacity: 0;
  visibility: hidden;
  height: 100%;
}

.isOpen {
  opacity: 1;
  visibility: visible;
}

.listContainer {
  position: absolute;
  top: 65px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 70vh;
  z-index: $z-index11;
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  border-top: 0;
  background-color: $white;
}

.listContainerMobile {
  margin-top: 50px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 70vh;
  z-index: $z-index19;
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  border-top: 0;
  background-color: $white;
}

.list {
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.transportTypeContainer {
  width: 100%;
  margin-bottom: 10px;
  max-height: 20vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.brandList {
  max-height: 45vh;
}

.transportTypeButton {
  width: 28%;
  height: 60px;
  border-radius: 0;
  margin: 0 2.5% 1px;
  border-radius: 1px;
}

.transportTypeButtonMobile {
  width: 80%;
  border-radius: 0;
  margin: 0 10% 1px calc(10% + 1px);
  justify-content: flex-start;
}

.transportTypeButtonActive {
  background-color: #1c85c7;
  color: $white;

  &:hover {
    background-color: #1c85c7;
  }
}

.divider {
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $z-index10;
  width: 100%;
  height: 100%;
}

.button {
  border-radius: 0;
  height: 60px;
  white-space: pre-line;
  line-height: 15px;

  &:hover {
    background-color: $blue1;
    color: $white;
  }
}

@media (max-width: $mobile) {
  .listContainer {
    z-index: $z-index19;
    max-height: 30vh;
  }

  .listContainerMobile {
    position: fixed;
    flex-direction: row;
    max-height: 30vh;
    width: calc(100% - 20px);
    box-shadow: 0px 10px 10px -6px rgba(34, 60, 80, 0.2) inset;
  }

  .list {
    max-height: 30vh;
    width: 100%;
    box-shadow: 0px 10px 10px -6px rgba(34, 60, 80, 0.2) inset;
  }

  .brandList {
    width: 60%;
  }

  .transportTypeButton {
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: start;
  }

  .transportTypeContainer {
    max-height: 30vh;
    height: 100%;
    width: 40%;
    box-shadow: 15px 0px 10px -6px rgba(34, 60, 80, 0.2);
    z-index: $z-index9;
  }

  .transportTypeButtonActive {
    border-bottom: 0;
    border-left: 1px solid $blue1;
    margin-left: 10%;
  }
}

@media (max-width: $xsMobile) {
  .transportTypeButton {
    font-size: 12px;
  }
}
