@import '~styles/colors.scss';
@import '~styles/breakpoints.scss';

.main {
  padding: 24px 0 88px;
}

.mainTitle {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: Roboto, sans-serif !important;
  font-weight: bold;
}

.tableHead th {
  font-weight: bold;
}

.orderTotal {
  width: 100%;
  text-align: right;
  padding: 16px;
  font-weight: bold;
}

.bottomOrderBox {
  width: 100%;
  text-align: right;
  padding: 16px;
  font-weight: bold;
  display: flex;
  padding: 16px;
}

.menuItem {
  color: $blue1;
}

.menuItemSpecialOffer {
  &:hover {
    p {
      border-bottom: hidden;
    }
  }
}

.specialOffer {
  border-bottom: 1px dashed $blue1;
}

@media (max-width: $mobile) {
  .bottomOrderBox {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: $sMobile) {
  .bottomOrderBox {
    padding: 0px;
  }

  .menuItem {
    padding: 6px;
  }

  .orderTotal {
    margin-top: 10px;
    padding: 0px;
  }
}
