@import '~styles/colors.scss';

.checkboxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.title {
  font-size: 14px;
  line-height: 1.57;
  color: $black;
  margin-bottom: 8px;
  font-family: inherit;
}

.button {
  cursor: pointer;

  border-bottom: 1px dashed transparent;
  color: $blue1;
  transition: all 0.6s ease;
  font-size: 14px;

  display: inline-block;

  padding: 5px 0;
}

.textfield {
  input {
    font-size: 14px;
    height: 30px;
    padding: 3px 10px;
    background-color: $white;
  }
}

.button_small {
  padding-top: 3px;
  font-size: 14px;
}

.expandFilterList {
  min-height: 34px;
  max-height: 280px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-top: 1px solid $gray4;
  border-bottom: 1px solid $gray4;
  padding: 0 5px;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: $white2;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray4;
  }
}

.noFoundLabel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  color: black;
  font-family: inherit;
}
