@import "~styles/breakpoints.scss";

.title {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: "GTWalsheimProBlack-Regular", sans-serif !important;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 100%;
}

.buyButton {
  text-transform: none;
  margin: 0 2px 5px;
  margin-right: 2px;
}

.buttonsContainer {
  display: flex;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.productButtonsPriceWrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet) {
  .title {
    font-size: 24px;
  }
}