@import '~styles/breakpoints.scss';

.mainContainer {
  display: flex;
  flex-direction: row;
}

.userInfo {
  margin: 30px;
  flex-grow: 1;
}

@media (max-width: $mobile) {
  .mainContainer {
    flex-direction: column;
  }

  .userInfo {
    margin: 20px 0;
  }
}
