@import "~styles/colors.scss";

.headerMobileContainer {
  display: flex;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;
  height: 60px;
}

.asideButton {
  background-color: transparent;
  margin-right: auto;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
}

.asideButton:hover {
  background-color: transparent;
}

.catalogIcon {
  font-size: 0;
  display: block;
  width: 20px;
  height: 30px;
  transform: rotate(180deg);
  margin-left: auto;
}

.catalogIconLines {
  margin-left: 12px;
  margin-top: -3px;

  transition: 0.1s;
  transform: translate(0, 50%);
}

.catalogIconLines::before,
.catalogIconLines::after,
.catalogIconLines {
  display: block;
  position: relative;
  height: 3px;
  width: 20px;
  background-color: black;
  transition: 0.4s;
  border-radius: 2px;
}

.catalogIconLines::before {
  content: "";
  top: -6px;
}

.catalogIconLines::after {
  content: "";
  top: 3px;
}

.catalogIconLines_open {
  height: 0;
  transition: 0.01s;
}

.catalogIconLines_open::before {
  top: 0px;
  transform: rotate(45deg);
  background-color: $black;
  width: 20px;
}

.catalogIconLines_open::after {
  top: -3px;
  transform: rotate(-45deg);
  background-color: $black;
  width: 20px;
}

.shoppingCart {
  width: 24px;
  height: 24px;
  background-image: url("~assets/images/shoppingCart.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.icon_ruble::before {
  font-family: 'icons';
  content: "\e906";
  font-weight: 400;
  font-size: 95%;
  font-style: normal;
  margin-left: 5px;
  margin-top: 3px;
  display: inline-block;
}

.menuItem {
  font-family: 'Ubuntu', sans-serif !important;
  line-height: 1.57;
  font-size: 18px;
  font-weight: bold;
}