@import "~styles/colors.scss";
@import "~styles/breakpoints.scss";
@import "~styles/constants.scss";

.totalBoxContainer {
  position: sticky;
  bottom: 20px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.totalBox {
  background-color: $white;
  height: 75px;
  width: 100%;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 2px;
  padding: 20px;
  z-index: $z-index8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $mobile) {
  .totalBoxContainer {
    bottom: 60px;
  }

  .totalBox {
    border-top: none;
    justify-content: space-between;
    box-shadow: 0 -2px 8px rgb(0 0 0 / 15%);
    padding: 0 15px;
    height: 75px;
    width: 100%;
    z-index: $z-index9;
  }
}

@media (max-width: $xxsMobile) {
  .orderTotal {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
    height: 40px;
    line-height: 14px;
  }
}
