@import "~styles/colors.scss";
@import "~styles/breakpoints.scss";

.button {
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

@media (max-width: $mobile) {
  .container {
    margin-left: 0;
  }

  .button {
    padding: 10px;
    font-size: 14px;
  }
}
