@import '~styles/colors.scss';

.logo_button {
  padding: 0;
}

.headerWrapper {
  color: $black;
  height: auto;
  background: $white;
  box-shadow: none;
}

.headerTitle {
  width: 150;
  white-space: break-spaces;
  padding: 0;
  display: inline-block;
  color: $black;
  font-size: 14px;
  line-height: 1.2;
}
