@import '~styles/colors.scss';
@import '~styles/breakpoints.scss';

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 500px;
  background-color: white;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 18px;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 8px 12px;
  font-size: 20px;
  color: $black;
  cursor: pointer;
}

.button {
  margin-top: 20px;
}

.title {
  font-weight: bold;
  text-align: center;
}

@media (max-width: $sMobile) {
  .wrap {
    width: 100%;
  }
}

@media (max-width: $xsMobile) {
  .wrap {
    height: 200px;
    width: 90vw;
  }

  .title {
    font-size: 14px;
  }

  .button {
    margin-top: 10px;
    font-size: 12px;
  }

  .action {
    margin-top: 5px;
  }
}
