@import '~styles/colors.scss';

.resetButton {
  margin: 0;
  width: 100%;
  margin-top: 10px;
  background-color: $gray2;

  &:hover {
    background-color: $gray1;
  }
}
.applyButton {
  margin: 0;
  width: 100%;
}

.buttonBox {
  margin-top: auto;
}
