@import "styles/colors.scss";
@import "~styles/constants.scss";

.stepWrap {
  position: relative;
  width: auto;
}

.stepNumber {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  top: 50%;
  left: 20px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: $blue1;
  // z-index: $z-index18;
}

.stepNumber_number {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.stepNumber_numberOne {
  transform: translateX(-55%) translateY(-50%);
}

.stepNumberDisable {
  background-color: $gray2;
}

.stepNumberLoading {
  background-color: $white;
}

.stepNumber_shortHeader {
  left: 10px;
}

.stepField {
  width: 100%;
}

.stepField input {
  cursor: pointer;
  z-index: $z-index17;
  border-right: 1px solid $transparentBlue4;
}

.stepField input:disabled[placeholder] {
  background-color: $gray1;
  color: $white;
  -webkit-text-fill-color: $white;
}

.stepper_mobileView {
  display: flex;
  flex-direction: column;
}

.caret {
  cursor: pointer;
  z-index: 1302;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);

  path {
    transform-origin: center;
    transition: 0.3s;
  }
}

.caretActive {
  path {
    transition: 0.3s;
    transform: rotate(180deg);
  }
}
