@import '~styles/colors.scss';

.button {
  border-radius: 0;
  display: block;
  padding: 14px 16px;
  margin: 0 0 0;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: $white;
  border: none;
  background-color: $blue6;
  margin: 5px;
  min-width: 0;
}

.button:hover {
  background-color: $blue7;
}

.button:focus-visible {
  outline: 3px solid $blue2;
}
