@import '~styles/colors.scss';

.wrap {
  display: flex;
  flex-direction: column;
}

.socialIconList {
  padding: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
}

.socialIcon {
  margin: 0 2px;
}

.footerPhone {
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 6px;
}

.footerPhoneIcon {
  width: 20px;
  height: 20px;
  margin-right: 6px;

  path {
    fill: $white;
  }
}

.footerPhoneNumber {
  display: inline-block;
  height: auto;
}

.logo {
  margin-left: auto;
  margin-top: 10px;
  width: 113px;
  height: 50px;
  background-image: url('~assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
