@import "~styles/breakpoints.scss";
@import "~styles/colors.scss";

.mainContent {
  flex-grow: 1;
  margin-bottom: 50px;
  position: relative;
  margin-left: 30px;
}

.errorBox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
