.header_logo {
  position: relative;
  float: left;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.header_img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.headerTitle {
  font-size: 14px;
  line-height: 1.2;
}

.header_logo_mobile {
  width: 150px;
  height: 70px;
}

.headerTitle_mobile {
  font-size: 18px;
  margin: 22px 0;
  line-height: 1.57;
}
