@import '~styles/breakpoints.scss';

.header_logo {
  position: relative;
  float: left;
  height: 44px;
  margin-right: 10px;
}

.header_img {
  height: 44px;
  width: auto;
}

.headerTitle {
  font-size: 14px;
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  line-height: 1.2;
}

.header_logo_mobile {
  height: 40px;
}

.headerTitle_mobile {
  font-size: 18px;
  margin: 22px 0;
  line-height: 1.57;
}

@media (max-width: $xsMobile) {
  .header_logo_mobile {
    height: 40px;
    max-width: 80px;
  }
}
