@import '~styles/breakpoints.scss';
@import '~styles/constants.scss';

.header_logo {
  position: relative;
  float: left;
  height: 44px;
  margin-right: 10px;
  z-index: $z-index2;
}

.header_img {
  height: 44px;
  width: auto;
  min-width: 60px;
}

.header_logo_mobile {
  height: 40px;
}

.headerTitle_mobile {
  font-size: 18px;
  margin: 22px 0;
  line-height: 1.57;
}

@media (max-width: $xsMobile) {
  .header_img {
    height: 44px;
    object-fit: contain;
    max-width: 100px;
  }
}

@media (max-width: $xxsMobile) {
  .header_img {
    height: 44px;
    object-fit: contain;
    max-width: 80px;
  }
}
