@import "~styles/colors.scss";

.mainContainer {
  background-color: $gray7;
  color: $white;
  padding: 10px;
  position: relative;
}

.catalogButton {
  background-color: transparent;
  padding: 0;
  display: flex;
  color: $blue3;
}

.stickyButton {
  position: sticky;
  top: 0;
  background-color: $gray7;
  z-index: 1200;
}

.catalogButton:hover {
  background-color: transparent;
}

.divider {
  border-color: $gray8;
}

.treeViewContainer {
  height: 100%;
}

.icon {
  transition: transform 0.3s ease;
}

.icon_collapse {
  transform: rotate(90deg);
}

.warningMessage {
  border-bottom: 1px solid $gray8;
  padding: 10px;
}
