@import '~styles/colors.scss';
@import '~styles/breakpoints.scss';

.container {
  font-size: 16px;
  width: 640px;
  position: relative;
  background-color: $white;
  padding: 40px;
  padding-top: 32px;
  min-height: 580px;
}

.closeModal {
  position: absolute;
  top: -35px;
  right: -35px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 18px;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 8px 12px;
  font-size: 20px;
  color: $white;
  cursor: pointer;
}

.formWrap {
  background-color: $white;
  padding: 40px;
}

.formTitle {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 20px;
}

.inputContainer {
  margin-bottom: 20px;
  width: 350px;
}

.formText {
  width: 350px;
  text-align: center;
  margin-bottom: 20px;
}

.formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border-radius: 0;
  text-transform: uppercase;
  border: none;
  color: $white;
  width: 100%;
  background-color: $blue1;
  height: 56px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $blue4;
  }
}

.otherErrorMessage {
  width: 320px;
  margin: 0 5px 10px;
  color: $red3;
  font-weight: 400;
  font-size: 0.75rem;
}

.otherFormButton {
  font-size: 14px;
  color: $blue1;
  text-align: center;
  margin: 10px auto 11px;
  cursor: pointer;

  &:hover {
    margin-bottom: 10px;
    border-bottom: 1px solid $blue1;
  }
}

.retryButtonLoading {
  cursor: default;

  &:hover {
    margin-bottom: 11px;
    border-bottom: none !important;
  }
}

.retryButtonError {
  cursor: default;
  color: $red1;

  &:hover {
    margin-bottom: 11px;
    border-bottom: none !important;
  }
}

.retryButtonTimer {
  cursor: default;
  color: $black;

  &:hover {
    margin-bottom: 11px;
    border-bottom: none !important;
  }
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: $mobile) {
  .otherErrorMessage {
    width: auto;
    text-align: center;
  }
  .inputContainer {
    width: auto;
  }

  .formTitle {
    font-size: 16px;
    color: $black;
  }

  .formWrap {
    width: 90vw;
    height: fit-content;
  }

  .formButton_text {
    font-size: 14px;
  }
}

@media (max-width: $sMobile) {
  .closeModal {
    top: 10px;
    right: 20px !important;
    color: $black;
  }

  .container {
    width: 100%;
    padding: 40px;
  }
}

@media (max-width: $xsMobile) {
  .formWrap {
    padding: 30px;
  }
}
