@import '~styles/colors.scss';
@import '~styles/breakpoints.scss';

.productSpecialItem {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  margin-right: 20px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  text-decoration: none;
  border-bottom: 1px dashed $blue1;
  transition: all 0.6s ease;
  color: $blue1;
  inline-size: fit-content;
}

.productSpecialWrapper {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.productSpecialItem:hover {
  text-decoration: none;
  border-bottom: 1px dashed transparent;
}

.productSpecialItem::before {
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-right: 10px;
  margin-top: -10px;
  width: 24px;
  height: 24px;
  content: '';
}

.helpIcon::before {
  background: url('~/public/icons/help.png') 0 0 no-repeat;
  background-size: contain;
}

.specialIcon::before {
  background: url('~/public/icons/special.png') 0 0 no-repeat;
  background-size: contain;
}

.warningBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.ratingBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
}

.warningText {
  padding: 0;
  margin-left: 10px;
  padding-bottom: 3px;
  border-bottom: 1px dashed $red3;
  transition: all 0.6s ease;
  color: $red3;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    border-bottom: 1px dashed transparent;
  }
}

.warningIcon {
  font-size: 30px;
}

@media (max-width: $tablet) {
  .productSpecialWrapper {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.57;
  }
}

@media (max-width: $xsMobile) {
  .productSpecialWrapper {
    margin-top: 40px;
  }
}
