@import "~styles/breakpoints.scss";

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

@media (max-width: $xsMobile) {
  .box {
    & > h1 {
      font-size: 23px;
    }
  }
}
