.formHeading {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.57;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.inputContainer {
  width: 48%;
  margin-top: 20px;
}

.input {
  border-radius: 4px;
}
