@import 'styles/colors.scss';
@import 'styles/breakpoints.scss';

.mainBox {
  min-height: 100px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  padding: 20px;

  border: 1px solid $transparentBlue1;

  &:focus-visible {
    border-block: 1px solid $black;
  }

  &:hover {
    border: 1px solid $blue1;
  }
}

.userBox {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.userImage {
  width: 40px;
  border-radius: 50%;
}

.userName {
  margin: 0;
  padding-left: 10px;
}

.userDate {
  margin: 0;
  padding-left: 10px;
  font-size: 12px;
  color: $gray1;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.reviewBox {
  width: 100%;
  margin-left: 20px;
}

.ratingBox {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.ratingItem {
  margin-right: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.ratingItem_title {
  margin: 0;
  margin-right: 5px;
}

.reviewHeader {
  font-size: 16px;
  margin: 10px 0;
}

.reviewText {
  font-size: 14px;
  margin: 10px 0;
}

@media (max-width: $mobile) {
  .userBox {
    width: 25%;
    flex-direction: column;
    align-items: center;
  }

  .userName {
    padding-left: 0;
  }

  .userDate {
    padding-left: 0;
    text-align: center;
  }

  .ratingBox {
    flex-direction: column;
  }

  .ratingItem {
    margin-bottom: 5px;
  }
}

@media (max-width: $xxsMobile) {
  .mainBox {
    padding: 10px;

    flex-direction: column;
  }

  .userName {
    padding-left: 10px;
  }

  .userDate {
    padding-left: 10px;
    text-align: unset;
  }

  .reviewBox {
    margin-left: 0px;
  }

  .userBox {
    width: 100%;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $transparentBlue1;
  }
}
