@import "~styles/colors.scss";

.header {
  font-size: 24px;
  font-weight: 500;

  &:hover {
    color: $blue3;
  }
}

.childrenList {
  column-gap: 20px;
}

.childrenListItem {
  break-inside: avoid;
}

.category_title,
.subcategory_title {
  page-break-inside: avoid;
  break-inside: avoid;

  &:hover {
    color: $blue3;
  }
}

.category_title {
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: $gray5;
  }
}

.subcategory_title {
  font-size: 14px;
  font-weight: 400;
  padding-left: 25px;
}

.lastCategory_title {
  font-size: 14px;
  font-weight: 400;
  padding-left: 35px;
}
