@import '~styles/colors.scss';
@import '~styles/breakpoints.scss';

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 240px;
  width: 500px;
  background-color: white;
  padding: 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  text-align: center;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 18px;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 8px 12px;
  font-size: 20px;
  color: $black;
  cursor: pointer;
}

.inputField {
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 300px;
}

.inputField_label {
  margin-top: 10px;
  font-size: 12px;
}

.inputField_error {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  margin-left: 5px;
  margin-bottom: 25px;
  margin-top: 15px;
}

@media (max-width: $mobile) {
  .inputField {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    input {
      padding: 10px;
    }
  }

  .inputField_error {
    font-size: 10px;
    margin: 0;
  }

  .wrap {
    width: 90vw;
  }

  .buttonsContainer {
    margin-left: 0;
  }

  .button {
    padding: 10px;
    font-size: 14px;
  }
}
