.headerMobileContainer {
  display: flex;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;
  height: 60px;
}

.headerLogoContainer {
  position: absolute;
  top: 10px;
  left: 15px;
}
