@import '~styles/breakpoints.scss';

.title {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: Roboto, sans-serif !important;
  font-weight: bold;
  margin-bottom: 15px;
  word-break: break-all;
}

@media (max-width: $tablet) {
  .title {
    font-size: 24px;
  }
}
