@import "styles/colors.scss";
@import "~styles/breakpoints.scss";

.stepper_notMobileView {
  width: 80%;
}

.stepperBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.stepper_mobileView {
  display: flex;
  flex-direction: column;
}

@media (max-width: $mobile) {
  .stepperBox {
    display: flex;
    flex-direction: column;
  }
}
