@import '~styles/colors.scss';
@import '~styles/breakpoints.scss';

.sortContainer {
  padding: 13px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: center;
}

.sortButton {
  display: flex;
  flex-wrap: wrap;
}

.sortItem {
  font-size: 14px;
  line-height: 1.57;
  margin-right: 14px;
  align-items: center;
}

.sortItemType {
  cursor: pointer;
}

.active {
  color: $blue1;
}

.sortItemType.active::after {
  display: inline-block;
  margin-left: 7px;
  width: 0;
  height: 0;
  border-top: 6px solid $blue1;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: '';
}

.sortItemType.active.down::after {
  border-top-color: transparent;
  border-bottom: 6px solid $blue1;
}

.dateInput {
  margin: 0 10px;
}

@media (max-width: $mobile) {
  .sortContainer {
    padding: 5px 18px;
    flex-basis: 100%;
  }
}

@media (max-width: $xsMobile) {
  .sortContainer {
    padding: 5px 10px;
  }
}
