@import "~styles/colors.scss";
@import "~styles/constants.scss";

.modalBackground {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $transparentBlack;
  justify-content: center;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: $z-index22;
}

.modalOpen {
  opacity: 1;
  visibility: visible;
}

.modal {
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: $z-index2;
}

.closeModal {
  position: fixed;
  top: 8px;
  right: 8px;
  background: $red1;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 8px 12px;
  font-size: 20px;
  color: $white;
  cursor: pointer;
}
