@import "~styles/colors.scss";
@import "~styles/breakpoints.scss";
@import "~styles/constants.scss";

.categoryCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.categoryCard:hover {
  cursor: pointer;
}

.categoryCard:hover > .categoryName {
  color: $blue5;
}

.backgroundImage {
  background-size: cover;
  z-index: $z-index4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000b0, 35%, #ffffff00);
}

.categoryName {
  position: absolute;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: Roboto, sans-serif !important;
  font-weight: bold;
  color: $white;
  z-index: $z-index5;
  left: 20px;
  transition: all 0.6s ease;
  word-break: break-word;
}

.categoryImage {
  height: 100%;
  object-fit: cover;
}

.categoryQuantity {
  font-size: 14px;
  color: $white;
}

.categoryQuantity_container {
  position: absolute;
  top: 16px;
  left: 20px;
  font-weight: bold;
  z-index: $z-index5;

  flex-direction: column;
}

.categoryQuantity_found {
  color: $red4;
  margin-right: 14px;
  padding-bottom: 5px;
}

@media (max-width: $tablet) {
  .categoryName {
    font-size: 24px;
  }
}
