@import "~styles/colors.scss";
@import "~styles/breakpoints.scss";

.checkboxContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-top: 10px;
  margin-left: 24px;
}

.checkboxSelectAll {
  position: absolute;
  top: 50%;
  left: 52px;
  transform: translate(-50%, -50%);
}

.selectedTitle {
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.confirmedBlock {
  height: 200px;
  width: 400px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.titleModal {
  text-align: center;
}

.btnDelete {
  position: absolute;
  right: -45px;
  top: calc(50% - 18px);
  background-color: $red1;
  color: $white;
  width: 35px;
  height: 35px;
  padding: 0;
  min-width: 0;

  &:hover {
    background-color: $red2;
  }
}

.buttonContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.btnSolution {
  width: 100px;
  margin: 0 20px;
}

.btnAccept {
  background-color: $blue1;
  color: $white;

  &:hover {
    background-color: $blue2;
  }
}

.btnReject {
  background-color: $red1;
  color: $white;

  &:hover {
    background-color: $red2;
  }
}

.buttonDisabled {
  color: $gray3;
}

@media (max-width: $mobile) {
  .selectedTitle {
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }

  .button {
    font-size: 10px;
  }

  .checkboxSelectAll {
    top: 50%;
    left: 49px;

    span {
      font-size: 14px;
    }
  }

  .checkboxContainer {
    margin-bottom: 10px;
  }

  .confirmedBlock {
    width: 90%;
  }
}

@media (max-width: $xsMobile) {
  .checkboxContainer {
    margin-left: 15px;
  }
}

@media (max-width: $xxsMobile) {
  .button {
    width: 50px;
  }
}
