@import "~styles/breakpoints.scss";
@import "~styles/colors.scss";

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemTitle {
  font-weight: normal;

  &:hover {
    cursor: pointer;
    color: $blue1;
  }
}

.tableRow {
  th {
    border-bottom: 0;
  }

  td {
    border-bottom: 0;
  }

  p {
    margin-left: 0;
  }
}

.service {
  margin-left: 5px;
  font-size: 12px;
  color: $gray6;
}
