@import "styles/colors.scss";
@import "~styles/breakpoints.scss";

.menuItem {
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold;
}

.menuIcon {
  margin-left: 5px;
  margin-right: 5px;
}

.menuItemsBox {
  display: flex;
}

.menuItem_callback {
  flex-grow: 1;
}

.menuItem_mobile {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 10px;
}

.countCartItem {
  position: absolute;
  top: 5%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $red1;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.orderTotalCard {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif !important;
}

.icon_ruble::before {
  font-family: 'icons';
  content: "\e906";
  font-weight: 400;
  font-size: 85%;
  font-style: normal;
  margin-left: 5px;
}

.icon_phone::before {
  font-family: 'fontawesome';
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 24px;
  width: 30px;
  display: inline-block;
  padding-top: 6px;
}

.shoppingCartIcon {
  display: flex;
  position: relative;
  width: 100px;
}

.shoppingCart {
  width: 24px;
  height: 24px;
  background-image: url("~assets/images/shoppingCart.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.consiltIcon {
  width: 20px;
  height: 24px;
  background-image: url("~assets/images/consultIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: $mobile) {
  .consiltIcon {
    margin-right: 10px;
    filter: invert(100%);
  }

  .icon_phone {
    margin-right: 10px;
  }
}
