@import 'styles/colors.scss';
@import '~styles/breakpoints.scss';

.menuItem {
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-family: Roboto, sans-serif !important;
}

.menuIcon {
  margin-left: 5px;
  margin-right: 5px;
}

.menuItemsBox {
  display: flex;
}

.menuItem_callback {
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.menuItem_mobile {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 10px;
}

.countCartItem {
  position: absolute;
  top: 13%;
  left: 18%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $red1;
  height: 17px;
  width: 17px;
  border-radius: 10px;
  font-size: 13px;
}

.orderTotalCard {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto, sans-serif !important;
  margin-left: 10px;
}

.icon_ruble::before {
  font-family: 'icons';
  content: '\e906';
  font-weight: 400;
  font-size: 85%;
  font-style: normal;
  margin-left: 5px;
}

.icon_phone::before {
  font-family: 'fontawesome';
  content: '\f095';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 24px;
  width: 30px;
  display: block;
  margin-top: 4px;
  margin-right: -15px;
}

.shoppingCartIcon {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5px;
}

.shoppingCart {
  width: 24px;
  height: 24px;
  background-image: url('~assets/images/shoppingCart.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.consiltIcon {
  width: 20px;
  height: 24px;
  background-image: url('~assets/images/consultIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.menuItem_phone {
  font-size: 16px;
}

@media (max-width: $mobile) {
  .consiltIcon {
    margin-right: 10px;
    filter: invert(100%);
  }

  .icon_phone {
    margin-right: 10px;
  }
}
