@import '~styles/breakpoints.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
}

.mainBox {
  display: flex;
  flex-direction: row;
}

.userInfo {
  margin-left: 30px;
  flex-grow: 1;
}

@media (max-width: $mobile) {
  .mainBox {
    flex-direction: column;
  }

  .userInfo {
    margin: 20px 0;
  }
}
