@import "styles/colors.scss";
@import "~styles/breakpoints.scss";

.mainContainer {
  padding-bottom: 14px;
  padding-top: 7px;
  display: flex;
  min-height: 60px;
}

.itemsContainer {
  flex-grow: 1;
  justify-content: space-between;
}

.filterText {
  width: 100%;
  color: $blue1;
  font-size: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: $black;
  font-weight: 100;
}

.formAndCatalogContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filterStepsForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.filterStepsForm input {
  padding: 14px 30px 14px 60px;
  min-width: 90px;
}

.filterStepsForm_shortHeader {
  height: 40px;
}

.filterStepsForm_shortHeader input {
  padding: 9px 30px 9px 40px;
  font-size: 12px;
  min-width: 40px;
}

.stepButtonSubmit {
  margin: 0;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  background-color: $red1;
  flex-grow: 1;
  padding: 12px 20px;
  min-height: 52px;
  border: 2px solid $red1;
}

.stepButtonSubmitInactive {
  color: $white !important;
}

.stepButtonSubmit:hover {
  background-color: $red1;
}

.filterStepsForm_shortHeader .stepButtonSubmit {
  padding: 0;
  height: 88%;
  min-width: 120px;
  min-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
}

.filterStepsForm_mobileView {
  flex-direction: column;
  flex-grow: 1;
}

.filterStepsForm_mobileView input {
  min-width: calc(100vw - 90px);
  padding-left: 60px;
  font-size: 14px;
}

.filterStepsForm_mobileView .stepButtonSubmit {
  min-height: 50px;
  min-width: 100%;
  margin-top: 20px;
}

.choosenTransport_container {
  display: flex;
  align-items: center;
}

.choosenTransport_text {
  font-size: 16px;
  margin-right: 20px;
  color: $blue1;
  display: flex;
}

.choosenTransport_text_auto {
  font-weight: bold;
  margin-right: 20px;
}

.choosenTransport_container_mobile {
  flex-direction: column;
  width: 100%;
}

@media (max-width: $mobile) {
  .formAndCatalogContainer {
    width: 100%;
  }
}
