@import '~styles/breakpoints.scss';

.inputField {
  margin: 10px;
}

.inputField_error {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (max-width: $mobile) {
  .inputField {
    margin-left: 0;
    margin-right: 0;
  }
}
