@import '~styles/breakpoints.scss';
@import '~styles/colors.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
}

.mainBox {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

@media (max-width: $mobile) {
  .mainBox {
    flex-direction: column;
  }
}
