@import '~styles/constants.scss';

.image {
  border-radius: 25px;
  width: 32px;
}

.button {
  display: flex;
  flex-direction: row;
  z-index: $z-index18;

  padding-left: 12px;
  padding-right: 12px;
}

.username {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}
