.image {
  border-radius: 25px;
  width: 32px;
}

.button {
  display: flex;
  flex-direction: row;
  z-index: 1302;

  padding-left: 8px;
  padding-right: 8px;
}

.username {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}
