@import '~styles/colors.scss';

.productSpecialItem {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  margin-right: 20px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  text-decoration: none;
  border-bottom: 1px dashed $blue1;
  transition: all 0.6s ease;
  color: $blue1;
  inline-size: fit-content;
}

.productSpecialWrapper {
  font-size: 14px;
}

.productSpecialItem:hover {
  text-decoration: none;
  border-bottom: none;
}

.productSpecialItem::before {
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-right: 10px;
  margin-top: -10px;
  width: 24px;
  height: 24px;
  content: '';
}

.helpIcon::before {
  background: url('~/public/icons/help.png') 0 0 no-repeat;
  background-size: contain;
}

.specialIcon::before {
  background: url('~/public/icons/special.png') 0 0 no-repeat;
  background-size: contain;
}

.mobileView {
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 1.57;
}
