@import '~styles/breakpoints.scss';
@import '~styles/colors.scss';

.catalogMainBox {
  display: flex;
  height: 100%;
}

.catalogFilter_desktop {
  background-color: #fafafa;
  border: 1px solid #d1d9e0;
  padding: 20px;

  margin: 0;
  margin-bottom: 50px;
  height: 100%;
  width: 270px;
  min-width: 270px;
  min-height: 500px;
  margin-right: 30px;
}

.catalogMainContent {
  flex-grow: 1;
  margin-bottom: 50px;
  position: relative;
}

.cardHeaderContainer {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #d1d9e0;
}

.cardHeader {
  flex-direction: row;
  flex-wrap: wrap;

  min-height: 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 60px;

  left: 0;
  z-index: 1000;
}

.pages {
  transition: transform 0.5s ease-in-out;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.filterButton_mobile {
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 1100;
}

@media (max-width: $xxsMobile) {
  .filterButton_mobile {
    background-color: transparent;
    font-size: 12px;
    color: $blue1;
    padding: 3px;

    top: 17px;
    right: 3px;

    &:hover {
      background-color: transparent;
      color: $blue1;
      padding: 3px;
    }
  }
}
