@import "~styles/colors.scss";
@import "~styles/constants.scss";

.closeButton {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
  transition: opacity ease 0.5s;
  z-index: $z-index24;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #999;

    &:hover {
      background: $white;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background: $white;
  }
}

.closeArea {
  z-index: $z-index23;
  position: absolute;

  &_up {
    height: 25%;
    width: 100%;
  }

  &_left {
    height: 90%;
    width: 25%;
  }

  &_right {
    height: 100%;
    width: 25%;
    right: 0;
  }
}

.imageDescription {
  color: $white;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: $z-index22;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  width: fit-content;
  line-height: 1.2em;
  text-align: center;
}
