$white: #ffffff;
$black: #000000;

$transparentBlack: #00000066;

$red1: #fc5367;
$red2: #fc536789;
$red3: #d32f2f;

$blue1: #1c85c7;
$blue2: #1875d28a;
$blue3: #0686c9;

$gray1: #808080;
$gray2: #979797;
$gray3: #666666;
$gray4: #c0c0c0;
$gray5: #f4f4f4;
$gray6: #4e4e4e;
$gray7: #333333;
$gray8: #5c5c5c;
