$white: #ffffff;
$black: #000000;

$transparentBlack: #00000066;

$red1: #fc5367;
$red2: #fc536789;
$red3: #d32f2f;

$blue1: #1c85c7;
$blue2: #1875d28a;

$gray1: #808080;
$gray2: #979797;
$gray3: #666666;
$gray4: #c0c0c0;
