$white: #ffffff;
$black: #000000;

$white1: #dedede;
$white2: #fafafa;

$black1: #2c2c2c;

$transparentBlack: #00000066;
$transparentBlue1: #d1d9e0;
$transparentBlue2: #edeff0;
$transparentBlue3: #f3f4f5;
$transparentBlue4: #d7dee4;

$red1: #fc5367;
$red2: #fc536789;
$red3: #d32f2f;
$red4: #f94f66;

$blue1: #1c85c7;
$blue2: #1875d28a;
$blue3: #0686c9;
$blue4: #1976d2;
$blue5: #52a9cd;
$blue6: #3390ce;
$blue7: #1a6fa8;

$gray1: #808080;
$gray2: #979797;
$gray3: #666666;
$gray4: #c0c0c0;
$gray5: #f4f4f4;
$gray6: #4e4e4e;
$gray7: #333333;
$gray8: #5c5c5c;
