$z-index1: 0;
$z-index2: 1;
$z-index3: 2;
$z-index4: 3;
$z-index5: 4;
$z-index6: 5;
$z-index7: 6;
$z-index8: 7;
$z-index9: 8;
$z-index10: 9;
$z-index11: 10;
$z-index12: 11;
$z-index13: 12;
$z-index14: 13;
$z-index15: 14;
$z-index16: 15;
$z-index17: 16;
$z-index18: 17;
$z-index19: 18;
$z-index20: 19;
$z-index21: 20;
$z-index22: 21;
$z-index23: 22;
$z-index24: 23;
