$z-index1: 0;
$z-index2: 1;
$z-index3: 4;
$z-index4: 10;
$z-index5: 12;
$z-index6: 99;
$z-index7: 1000;
$z-index8: 1001;
$z-index9: 1100;
$z-index10: 1101;
$z-index11: 1102;
$z-index12: 1200;
$z-index13: 1200;
$z-index14: 1201;
$z-index15: 1202;
$z-index16: 1300;
$z-index17: 1301;
$z-index18: 1302;
$z-index19: 1303;
$z-index20: 1304;
$z-index21: 1305;
$z-index22: 1306;
$z-index23: 1500;
$z-index24: 1501;
