@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@import './product-image-gallety.module.scss';
@import '~styles/colors.scss';

@font-face {
  font-family: 'fontawesome';
  src: url('../assets/fonts/fontawesome-webfont.woff2');
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: 'icons';
  src: url('../assets/fonts/icons.ttf') format('truetype');
  font-weight: normal;
  font-display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif !important;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 0;
  outline: none;
}

.MuiStep-root {
  padding: 0;
}

.MuiStepButton-root.Mui-disabled {
  z-index: 1;
  color: $transparentBlue4;
}

.MuiStepConnector-root {
  display: none;
}
