@import './product-image-gallety.module.scss';
@import '~styles/colors.scss';

@font-face {
  font-family: 'UbuntuMedium';
  src: url('../assets/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: normal;
  font-family: sans-serif;
}

@font-face {
  font-family: 'UbuntuMedium';
  src: url('../assets/fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: lighter;
  font-family: sans-serif;
}

@font-face {
  font-family: 'UbuntuMedium';
  src: url('../assets/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-family: sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'UbuntuMedium', sans-serif !important;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 0;
  outline: none;
}

.MuiStep-root {
  padding: 0;
}

.MuiStepButton-root.Mui-disabled {
  z-index: 1;
  color: $transparentBlue4;
}

.MuiStepConnector-root {
  display: none;
}
