html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 0;
  outline: none;
}

.MuiStep-root {
  padding: 0;
}

.MuiStepButton-root.Mui-disabled {
  z-index: 1;
  color: #d7dee4;
}

.MuiStepConnector-root {
  display: none;
}