@import './colors.scss';

.customThumbnail {
  height: 100%;
  width: auto;

  .image-gallery-thumbnail-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
  }
}

.image-gallery-slides {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.customOriginal {
  transition: padding none;
  width: 100%;
  padding-top: 100%;
  position: relative;
  transition: all none;

  .image-gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    aspect-ratio: 1 / 1;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
  }
}

// =======================
.container_a5721h {
  background: $black !important;
}

.arrow_12iocnn-o_O-arrow__direction__left_lg4jz7-o_O-arrow__size__medium_5gm619,
.arrow_12iocnn-o_O-arrow__direction__right_6eoou0-o_O-arrow__size__medium_5gm619 {
  height: 100% !important;
  top: 10px !important;
  width: 30% !important;

  & svg {
    width: 20%;
  }
}

.arrow_12iocnn-o_O-arrow__direction__right_6eoou0-o_O-arrow__size__medium_5gm619
  svg {
  float: right !important;
}

.arrow_12iocnn-o_O-arrow__direction__left_lg4jz7-o_O-arrow__size__medium_5gm619
  svg {
  float: left !important;
}
